.collection {
  float: right;
  width: calc(100% - 2%);
  margin-right: -2.5em;
  height: 100%;
  padding: 1em;
  overflow-y: scroll;
  scrollbar-width: none;
  background-size: 100% 100%;
  background-position: top right;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 90px;
  /* border: 2px solid #fff; */
}
.collection::-webkit-scrollbar {
  display: none;
}
.collection .head {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
  /* border:2px solid #fff; */
}
.collection .head h4 {
  padding: 1em 2.5em;
  color: var(--text);
  border-radius: 2em;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  border: 1px solid rgba(225, 225, 225, 0.5);
}
.collection .head h4:hover {
  background: var(--color);
  border: 1px solid rgba(225, 225, 225, 0);
}
.collection .head h4.active {
  background: var(--color);
  border: 1px solid rgba(225, 225, 225, 0);
}
.collection .box {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: none;
  gap: 1em 2em;
  /* padding: 1em 0; */
  padding-top: 2em;
}
.collection .box .row {
  width: 15%;
  height: 20em;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /* border: 2px solid var(--text); */
}
.collection .box .row::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}
.collection .box .row .cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}
.collection .box .row .info {
  position: absolute;
  z-index: 4;
  bottom: -7%;
  left: 10%;
  color: var(--text);
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  /* border: 2px solid var(--text); */
}
.collection .box .row .info h1 {
  font-size: 2em;
  font-weight: 500;
}
.collection .box .row .info span {
  display: block;
  margin: 0.5em 0;
  font-size: 10px;
  color: #a4a5a6;
}
.collection .box .row .info h2 {
  font-size: 1em;
  font-weight: 500;
  margin-top: 1.7em;
}

.collection .box .row:hover .info {
  bottom: 10%;
}
.collection .box .row:hover .cover {
  transform: scale(1.1);
}
.collection .box .row .play {
  position: absolute;
  z-index: 4;
  bottom: 20%;
  right: 10%;
  width: 3em;
  transition: 0.5s ease-in-out;
  transform: scale(0);
}
.collection .box .row:hover .play {
  transform: scale(1);
}

/* MOBILE */
@media (max-width: 766px) {
  .collection {
    width: 100%;
    margin-right: 0em;
    padding: 1em 0;
  }

  .collection .box {
    width: 100%;
    justify-content: center;
    gap: 2em 2em;
  }
  .collection .box .row {
    width: 95%;
    height: 25em;
    /* pointer-events: none; */
  }
  .collection .box .row .info {
    bottom: 8%;
  }
  .collection .box .row .play {
    transform: scale(1);
    width: 4em;
  }
  .collection .box .row .info h1 {
    font-size: 3em;
  }
  .collection .box .row .info span {
    font-size: 14px;
  }
  .collection .box .row .info h2 {
    font-size: 1.4em;
    margin-top: 0.7em;
  }
}

/* TAB */
@media (min-width: 736px) and (max-width: 1324px) {
  .collection .box .row {
    width: 45%;
    height: 25em;
    /* pointer-events: none; */
  }
  .collection .box .row .info {
    bottom: 8%;
  }
  .collection .box .row .play {
    transform: scale(1);
    width: 4em;
  }
  .collection .box .row .info h2 {
    font-size: 1.4em;
    margin-top: 0.7em;
  }
}
