.child {
  float: right;
  width: calc(100% - 2%);
  margin-right: -2.5em;
  height: 100%;
  padding: 1em;
  overflow-y: scroll;
  scrollbar-width: none;
  background-size: 100% 100%;
  background-position: top right;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 90px;
  /* border: 2px solid #fff; */
}
.child::-webkit-scrollbar {
  display: none;
}
.child::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* background-image: linear-gradient(#1d2123 80%, #1d2123 100%); */
}
.child .header {
  position: relative;
  z-index: 4;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  padding: 1em 1em;
  /* border: 2px solid #fff; */
}
.child .header img.cover {
  object-fit: cover;
  /* width: 24em; */
  height: 27em;
  border-radius: 3em;
  margin-right: 1em;
}
.child .header .text {
  color: var(--text);
  width: 40%;
  height: auto;
  margin-left: 2em;
  /* border: 2px solid #fff; */
}
.child .header .text h2 {
  font-size: 3em;
  font-weight: 550;
  color: #a4c7c6;
}
.child .header .text p {
  opacity: 0.7;
  font-size: 1.4em;
  font-weight: 400;
  margin: 1em 0;
  line-height: 1.5em;
}
.child .header .innerBox {
  width: 70%;
  height: auto;
  display: flex;
  gap: 0 1em;
  padding: 1em 0;
  color: #a4a5a6;
}
.child .header .innerBox .box {
  padding: 1em 1.5em;
  border-radius: 2em;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #35373b;
}
.child .header .innerBox .box img {
  object-fit: cover;
  width: 1.4em;
  margin-right: 1em;
}
.child .header .innerBox .heart {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  border-radius: 50%;
  color: crimson;
  cursor: pointer;
  background-color: #35373b;
}
.child .header .innerBox .heart span {
  display: none;
}

.child main {
  width: 100%;
  height: auto;
  margin: 1em;
  padding: 1em 0;
  position: relative;
  z-index: 4;
  /* border: 2px solid #fff; */
}
.child main .row {
  width: 90%;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin: 1em 0;
  padding-right: 2em;
  color: #a4a5a6;
  border-radius: 1em;
  background-color: #35373b;
  cursor: pointer;
}
.child main .row .detail {
  /* width: 9%; */
  height: inherit;
  display: flex;
  align-items: center;
}
.child main .row img {
  object-fit: cover;
  width: 35px;
  height: 35px;
  margin-right: 2em;
  border-radius: 1em;
}
.child main .row .detail p {
  margin-left: 8em;
}
.child main .row .fa {
  font-size: 2em;
  color: var(--text);
}
.child main .row p {
  font-size: 1em;
}
.child main .row p #tit{
  margin-right: 0.5em;
}
.child main .row .fa:hover {
  color: var(--color);
}
.child h2.header{
  text-align: center;
  display: flex;
  align-items: center;
  color: var(--text);
  font-size:7em;
}
.child h2.header span{
  font-size: 0.4em;
  margin-left: 0.1em;
}

/* MOBILE TAB */
@media (max-width: 766px) {
  .child {
    float: right;
    width: 100%;
    margin-right: 0em;
    padding-top: 10px;
    background-position: top left;
    padding-bottom: 6em;
    /* border: 2px solid #fff; */
  }
  .child .header {
    padding: 1em 0em;
    flex-direction: column;
    align-items: flex-start;
  }
  .child .header img.cover {
    width: 100%;
    margin-right: 0em;
  }
  .child .header .text {
    color: var(--text);
    width: 100%;
    height: auto;
    margin-left: 0em;
    margin-top: 3em;
  }

  .child .header .innerBox {
    width: 100%;
  }
  .child .header .innerBox .box {
    padding: 0em 1.5em;
  }
  .child .header .innerBox .heart {
    padding: 1em 1.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #35373b;
    width: auto;
    height: auto;
  }
  .child .header .innerBox .heart span {
    display: block;
    font-size: 0.7em;
    color: #a4a5a6;
    margin-left: 0.4em;
  }
  /*  */
  .child main {
    margin: 1em 0;
  }
  .child main .row {
    width: 100%;
    padding-right: 2em;
    position: relative;
  }
  .child main .row .detail {
    width: auto;
    height: inherit;
    display: flex;
    align-items: center;
  }
  .child main .row img {
    object-fit: cover;
    width: 35px;
    height: 35px;
    margin-right: 0;
    border-radius: 1em;
  }
  .child main .row .detail p {
    margin-left: 1em;
    margin-top: -1em;
  }
  .child main .row p.info {
    position: absolute;
    bottom: 0.5em;
    right: 1.7em;
    z-index: 5;
  }
  .child main .row p.info.first {
    left: 5.5em;
  }
  .child main .row .fa.hrt {
    display: none;
  }
  .child main .row p {
    font-size: 1em;
  }
  .child main .row .fa {
    font-size: 1.2em;
    margin-top: -1em;
  }
}

/* TAB */
@media (min-width: 736px) and (max-width: 1324px) {
  .child .header .text {
    width: 70%;
  }

  .child .header .innerBox {
    width: 100%;
  }
  .child main .row {
    margin: 2em 0;
  }
}
